# Base de Datos
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=Postgres25
DB_NAME=total_incorporation

# Stripe
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_

# Tracking
PIXEL_META_ID=111111111111111
PIXEL_META_TOKEN=EAAU....
PIXEL_GOOGLE_MEASUREMENT_ID=G-XXXXXXXXXX
PIXEL_GOOGLE_API_SECRET=tr.......